*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(web.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.logo{
  width: 100px;
  cursor: pointer;  
}
.navbar{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  color: wheat;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid gainsboro;
  border-radius: 20px;
  outline: none;
  cursor: pointer;

}
.contant{
  color: aquamarine;
  position: absolute;
  top: 30%;
  left: 18%;
  transform: translate(-50%);
  z-index: 2;
}
h1{
  font-size: 50px;
  margin: 6px 0 20px;
  line-height: 70px;
}
.side-bar{
  width: 50px;
  height: 100vh;
  background: linear-gradient(#232829,#727377);
  position: absolute;
  left: 0;
  top: 0;
}
.menu{
  display: block;
  width: 25px;
  margin: 20px auto 6;
  cursor: pointer;
}
.social-link img, .usefull-link img{
  width: 25px;
  margin: 5px auto;
  cursor: pointer;
}
.social-link{
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.usefull-link{
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;

}
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}
@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
      opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2){
  animation-delay: 5.7s;
  width: 40px;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 45;
}
.bubbles img:nth-child(4){
  animation-delay: 4s;
  width: 30px;
}
.bubbles img:nth-child(5){
  animation-delay: 7s;
  width: 35px;
}
.bubbles img:nth-child(6){
  animation-delay: 5s;
  width: 20px;
}
.bubbles img:nth-child(7){
  animation-delay: 4.5s;
  width: 35px;
}
